extends layout

block primary
    <div class="row">
        <div class="col-12">
            h2 Despachante
        </div>
    </div>
    <div class"row">
        <div class="">
            teste de conteúdo
        </div>
    </div>

