extends layout

block primary
    <div class="row">
        <div class="col-12">
            h2 Despachante de São Paulo
        </div>
    </div>
    <div class"row">
        <div class="">
            p teste de conteúdo
        </div>
    </div>

