extends layout

//- link(rel='stylesheet', href='/public/assets/css/dashboard.scss')

block primary
    div(class="row")
        div(class="col-12")
            h2 Despachante de São Paulo
    div(class="row")
        div(class="col-12")
            p teste de conteúdo

