doctype html
html
  head
    title= `${title}`

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Portal')

    link(rel='stylesheet', href='/public/assets/css/app.css')
    link(rel='stylesheet', href='/public/assets/css/bootstrap.css')

    script(src='/public/assets/js/bootstrap.js')

  body

    block content

      div(class="container")
        div(class="row")
          div(class="col-3 backgroung-color: #BFC9CA")
            include sidebar.pug

          div(class="col-9 backgroung-color: #D0D3D4")
            block primary

    script(src='/public/assets/js/bootstrap.bundle.js')
