doctype html
html
  head
    title= `${title}`

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Portal')

    link(rel='stylesheet', href='/public/assets/css/app.css')
    link(rel='stylesheet', href='/public/assets/css/bootstrap.css')

    script(src='/public/assets/js/bootstrap.js')
    script(src="https://kit.fontawesome.com/4f183826ec.js" crossorigin="anonymous")

  body

    block content

      div(class="container-fluid")

        form(action="#" method="POST")

          div(class="row h-100")

            div(class="col-3 h-100 pl-3 pr-3 sidebar")
              include sidebar.pug

            div(class="col-9 h-100 content-pages")
              block primary

    script(src='/public/assets/js/bootstrap.bundle.js')
