doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/application/assets/css/app.css')
    link(rel='stylesheet', href='/application/assets/css/bootstrap.min.css')
    script(src='/application/assets/js/bootstrap.min.js')

  body
    h1 Dashboard PagSeg

    block content
    script(src='/application/assets/js/bootstrap.bundle.min.js')
