
div(class="d-flex flex-row mt-3")
    div(class="col-6 text-end p-1 text-primary ml-3 ")
        h1 PAG
    div(class="col-6 text-start p-1 text-black-50 mr-3")
        h1 SEG

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-chart-simple")
    div(class="col-8 text-start ml-3")
        -if (option == 1){
        i(class="text-underline-selected")
            p &nbsp;Visão Geral
        -}else{
        a(href="./dashboard" class="text-underline-hover")
            p &nbsp;Visão Geral
        -}

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-file-invoice")
    div(class="col-8 text-start ml-3")
        -if (option == 2){
        i(class="text-underline-selected")
            p &nbsp;Minhas Cobranças
        -}else{
        a(href="./charges" class="text-underline-hover")
            p &nbsp;Minhas Cobranças
        -}

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-coins")
    div(class="col-8 text-start ml-3")
        -if (option == 3){
        i(class="text-underline-selected")
            p &nbsp;Meus Recebimentos
        -}else{
        a(href="./yield" class="text-underline-hover")
            p &nbsp;Meus Recebimentos
        -}

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-dna")
    div(class="col-8 text-start ml-3")
        -if (option == 4){
        i(class="text-underline-selected")
            p &nbsp;Minhas Devoluções
        -}else{
        a(href="./returns" class="text-underline-hover")
            p &nbsp;Minhas Devoluções
        -}

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-file")
    div(class="col-8 text-start ml-3")
        -if (option == 5){
        i(class="text-underline-selected")
            p &nbsp;Resumo de Movimentações
        -}else{
        a(href="./summary_movement" class="text-underline-hover")
            p &nbsp;Resumo de Movimentações
        -}

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-share-nodes")
    div(class="col-8 text-start ml-3")
        -if (option == 6){
        i(class="text-underline-selected")
            p &nbsp;Despachantes
        -}else{
        a(href="./forward_agent" class="text-underline-hover")
            p &nbsp;Despachantes
        -}

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-percent")
    div(class="col-8 text-start ml-3")
        -if (option == 7){
        i(class="text-underline-selected")
            p &nbsp;Pagamento de Tributes
        -}else{
        a(href="./pay_taxes" class="text-underline-hover")
            p &nbsp;Pagamento de Tributes
        -}

div(class="d-flex flex-row")
    div(class="col-2 text-center ml-3")
        i(class="fa-solid fa-bell-concierge")
    div(class="col-8 text-start ml-3")
        -if (option == 8){
        i(class="text-underline-selected")
            p &nbsp;Serviços
        -}else{
        a(href="./services" class="text-underline-hover")
            p &nbsp;Serviços
        -}

-if (typeof(message) !== 'undefined'){
div(class="row mt-3")
    div(class="col-12 text-center p-2 text-red")
        p #{message}
-}

