
div(style="margin-top: 30px; margin-left: 20px width: 100%")
    div(class="row")
        div(class="col-6 text-right p-1 text-primary ml-0")
            h1 PAG
        div(class="col-6 text-left p-1 text-black-50 mar-0")
            h1 SEG

