
div(class="row mt-3")
    div(class="col-6 text-end p-1 text-primary ml-0")
        h1 PAG
    div(class="col-6 text-start p-1 text-black-50 mar-0")
        h1 SEG

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-chart-simple")
    div(class="col-8 text-start")
        a(href="./agent" class="text-underline-hover")
            p Visão Geral

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-file-invoice")
    div(class="col-8 text-start")
        a(href="./charges" class="text-underline-hover")
            p Minhas Cobranças

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-coins")
    div(class="col-8 text-start")
        a(href="./yield" class="text-underline-hover")
            p Meus Rendimentos

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-dna")
    div(class="col-8 text-start")
        a(href="./returns" class="text-underline-hover")
            p Minhas Devoluções

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-file")
    div(class="col-8 text-start")
        a(href="./summary_movement" class="text-underline-hover")
            p Resumo de Movimentações

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-share-nodes")
    div(class="col-8 text-start")
        a(href="./forward_agent" class="text-underline-hover")
            p Despachantes

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-percent")
    div(class="col-8 text-start")
        a(href="./pay_taxes" class="text-underline-hover")
            p Pagamento de Tributes

div(class="row")
    div(class="col-1")
        p &nbsp;
    div(class="col-3 text-end")
        i(class="fa-solid fa-bell-concierge")
    div(class="col-8 text-start")
        a(href="./services" class="text-underline-hover")
            p Serviços


